In [1]:
import numpy as np
import pandas as pd
import re


# Spécification du type de données pour la colonne 'SIREN_SIRET'
df = pd.read_csv('data/ecoles.csv', sep=';', dtype={'SIREN_SIRET': str})
pd.set_option('display.max_columns', 69)
pd.set_option('display.max_rows', 500)

In [2]:
list(df.columns)

['Identifiant_de_l_etablissement',
 'Nom_etablissement',
 'Type_etablissement',
 'Statut_public_prive',
 'Adresse_1',
 'Adresse_2',
 'Adresse_3',
 'Code postal',
 'Code_commune',
 'Nom_commune',
 'Code_departement',
 'Code_academie',
 'Code_region',
 'Ecole_maternelle',
 'Ecole_elementaire',
 'Voie_generale',
 'Voie_technologique',
 'Voie_professionnelle',
 'Telephone',
 'Fax',
 'Web',
 'Mail',
 'Restauration',
 'Hebergement',
 'ULIS',
 'Apprentissage',
 'Segpa',
 'Section_arts',
 'Section_cinema',
 'Section_theatre',
 'Section_sport',
 'Section_internationale',
 'Section_europeenne',
 'Lycee_Agricole',
 'Lycee_militaire',
 'Lycee_des_metiers',
 'Post_BAC',
 'Appartenance_Education_Prioritaire',
 'GRETA',
 'SIREN_SIRET',
 'Nombre_d_eleves',
 'Fiche_onisep',
 'position',
 'Type_contrat_prive',
 'Libelle_departement',
 'Libelle_academie',
 'Libelle_region',
 'coordonnee_X',
 'coordonnee_Y',
 'epsg',
 'nom_circonscription',
 'latitude',
 'longitude',
 'precision_localisation',
 'date_ouverture',
 'date_maj_ligne',
 'etat',
 'ministere_tutelle',
 'etablissement_multi_lignes',
 'rpi_concentre',
 'rpi_disperse',
 'code_nature',
 'libelle_nature',
 'Code_type_contrat_prive',
 'PIAL',
 'etablissement_mere',
 'type_rattachement_etablissement_mere',
 'code_bassin_formation',
 'libelle_bassin_formation']

In [3]:
df.head()

,Identifiant_de_l_etablissement,Nom_etablissement,Type_etablissement,Statut_public_prive,Adresse_1,Adresse_2,Adresse_3,Code postal,Code_commune,Nom_commune,Code_departement,Code_academie,Code_region,Ecole_maternelle,Ecole_elementaire,Voie_generale,Voie_technologique,Voie_professionnelle,Telephone,Fax,Web,Mail,Restauration,Hebergement,ULIS,Apprentissage,Segpa,Section_arts,Section_cinema,Section_theatre,Section_sport,Section_internationale,Section_europeenne,Lycee_Agricole,Lycee_militaire,Lycee_des_metiers,Post_BAC,Appartenance_Education_Prioritaire,GRETA,SIREN_SIRET,Nombre_d_eleves,Fiche_onisep,position,Type_contrat_prive,Libelle_departement,Libelle_academie,Libelle_region,coordonnee_X,coordonnee_Y,epsg,nom_circonscription,latitude,longitude,precision_localisation,date_ouverture,date_maj_ligne,etat,ministere_tutelle,etablissement_multi_lignes,rpi_concentre,rpi_disperse,code_nature,libelle_nature,Code_type_contrat_prive,PIAL,etablissement_mere,type_rattachement_etablissement_mere,code_bassin_formation,libelle_bassin_formation
0,0691513V,Ecole élémentaire De Flévieu Le Haut,Ecole,Public,FLEVIEU LE HAUT 35 R BAR,NaN,69360 TERNAY,69360,69297,Ternay,69,10,84,0.0,1.0,NaN,NaN,NaN,0472246566,NaN,NaN,ce.0691513V@ac-lyon.fr,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21690297300033,151.0,NaN,"45.5958162922,4.79882044706",SANS OBJET,Rhône,Lyon,Auvergne-Rhône-Alpes,840226.4,6501186.2,EPSG:2154,Circonscription d'inspection du 1er degré de S...,45.595816,4.79882,Numéro de rue,1965-07-29,2020-10-30,OUVERT,MINISTERE DE L'EDUCATION NATIONALE,0,0.0,NaN,151,ECOLE DE NIVEAU ELEMENTAIRE,99.0,0691496B,NaN,NaN,10693,RHONE SUD
1,0691541A,Ecole maternelle Edouard Herriot,Ecole,Public,2 avenue de la Gare,NaN,69800 ST PRIEST,69800,69290,Saint-Priest,69,10,84,1.0,0.0,NaN,NaN,NaN,0478205338,NaN,NaN,ce.0691541A@ac-lyon.fr,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REP,NaN,21690290800161,249.0,NaN,"45.6896866108,4.93524999962",SANS OBJET,Rhône,Lyon,Auvergne-Rhône-Alpes,850604.2,6511859.0,EPSG:2154,Circonscription d'inspection du 1er degré de S...,45.689687,4.93525,Numéro de rue,1965-07-12,2020-10-30,OUVERT,MINISTERE DE L'EDUCATION NATIONALE,0,0.0,NaN,101,ECOLE MATERNELLE,99.0,0691497C,NaN,NaN,10700,RHONE SUD-EST
2,0691579S,Ecole élémentaire Jean d'Azieu,Ecole,Public,2 rue Hector Berlioz,NaN,69740 GENAS,69740,69277,Genas,69,10,84,0.0,1.0,NaN,NaN,NaN,0478901088,NaN,NaN,ce.0691579S@ac-lyon.fr,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21690277500032,254.0,NaN,"45.7379654651,5.01247029482",SANS OBJET,Rhône,Lyon,Auvergne-Rhône-Alpes,856475.7,6517368.9,EPSG:2154,Circonscription d'inspection du 1er degré de S...,45.737965,5.01247,Numéro de rue,1965-07-28,2020-10-30,OUVERT,MINISTERE DE L'EDUCATION NATIONALE,0,0.0,NaN,151,ECOLE DE NIVEAU ELEMENTAIRE,99.0,0693331W,NaN,NaN,10695,LYON NORD-EST
3,0691707F,Ecole maternelle Pablo Picasso,Ecole,Public,21 avenue de Haute Roche,NaN,69310 PIERRE BENITE,69310,69152,Pierre-Bénite,69,10,84,1.0,0.0,NaN,NaN,NaN,0478514099,NaN,NaN,ce.0691707F@ac-lyon.fr,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REP+,NaN,21690152000082,281.0,NaN,"45.6998794662,4.8296997547",SANS OBJET,Rhône,Lyon,Auvergne-Rhône-Alpes,842365.4,6512794.8,EPSG:2154,Circonscription d'inspection du 1er degré de S...,45.699879,4.82970,Numéro de rue,1969-12-01,2020-10-30,OUVERT,MINISTERE DE L'EDUCATION NATIONALE,0,0.0,NaN,101,ECOLE MATERNELLE,99.0,0690076H,NaN,NaN,10693,RHONE SUD
4,0691811U,Ecole maternelle,Ecole,Public,Place de la Poste,NaN,69380 CHATILLON,69380,69050,Châtillon,69,10,84,1.0,0.0,NaN,NaN,NaN,0478439827,NaN,NaN,ce.0691811U@ac-lyon.fr,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21690050600033,86.0,NaN,"45.8764480146,4.64486968368",SANS OBJET,Rhône,Lyon,Auvergne-Rhône-Alpes,827577.9,6532082.2,EPSG:2154,Circonscription d'inspection du 1er degré de l...,45.876448,4.64487,Numéro de rue,1970-06-03,2020-10-30,OUVERT,MINISTERE DE L'EDUCATION NATIONALE,0,0.0,NaN,101,ECOLE MATERNELLE,99.0,0693975W,NaN,NaN,10698,MONTS DU LYONNAIS

#  Filtrage des champs

In [4]:
df.drop(columns=[
         'Identifiant_de_l_etablissement',
         'Type_etablissement',
         'Adresse_2',
         'Code postal',
         'Code_commune',
         'Nom_commune',
         'Code_academie',
         'Code_region',
         'Ecole_maternelle',
         'Voie_generale',
         'Voie_technologique',
         'Voie_professionnelle',
         'Fax',
         'Web',
         'Restauration',
         'Hebergement',
         'ULIS',
         'Apprentissage',
         'Segpa',
         'Section_arts',
         'Section_cinema',
         'Section_theatre',
         'Section_sport',
         'Section_internationale',
         'Section_europeenne',
         'Lycee_Agricole',
         'Lycee_militaire',
         'Lycee_des_metiers',
         'Post_BAC',
         'Appartenance_Education_Prioritaire',
         'GRETA',
         'SIREN_SIRET',
         'Fiche_onisep',
         'position',
         'Type_contrat_prive',
         'Libelle_departement',
         'Libelle_academie',
         'Libelle_region',
         'coordonnee_X',
         'coordonnee_Y',
         'epsg',
         'nom_circonscription',
         'latitude',
         'longitude',
         'precision_localisation',
         'date_ouverture',
         'date_maj_ligne',
         'etat',
         'ministere_tutelle',
         'etablissement_multi_lignes',
         'rpi_concentre',
         'rpi_disperse',
         'code_nature',
         'libelle_nature',
         'Code_type_contrat_prive',
         'PIAL',
         'etablissement_mere',
         'type_rattachement_etablissement_mere',
         'code_bassin_formation',
         'libelle_bassin_formation'], inplace=True)

In [5]:
df.head(5)

,Nom_etablissement,Statut_public_prive,Adresse_1,Adresse_3,Code_departement,Ecole_elementaire,Telephone,Mail,Nombre_d_eleves
0,Ecole élémentaire De Flévieu Le Haut,Public,FLEVIEU LE HAUT 35 R BAR,69360 TERNAY,69,1.0,0472246566,ce.0691513V@ac-lyon.fr,151.0
1,Ecole maternelle Edouard Herriot,Public,2 avenue de la Gare,69800 ST PRIEST,69,0.0,0478205338,ce.0691541A@ac-lyon.fr,249.0
2,Ecole élémentaire Jean d'Azieu,Public,2 rue Hector Berlioz,69740 GENAS,69,1.0,0478901088,ce.0691579S@ac-lyon.fr,254.0
3,Ecole maternelle Pablo Picasso,Public,21 avenue de Haute Roche,69310 PIERRE BENITE,69,0.0,0478514099,ce.0691707F@ac-lyon.fr,281.0
4,Ecole maternelle,Public,Place de la Poste,69380 CHATILLON,69,0.0,0478439827,ce.0691811U@ac-lyon.fr,86.0

#  Filtrage écoles élémentaires uniquement

In [6]:
df['Ecole_elementaire'].value_counts()

1.0    36966
0.0    13665
Name: Ecole_elementaire, dtype: int64

In [7]:
filt = (df['Ecole_elementaire'] == 1.0)

In [8]:
df = df.loc[filt]

In [9]:
df['Ecole_elementaire'].value_counts()

1.0    36966
Name: Ecole_elementaire, dtype: int64

# Filtrage des adresses mails non valides

In [10]:
df.shape

(36966, 9)

On filtre la forme des mails grâce à une regex et on élimine les ecole sans adresse mail.

In [11]:
mask = df['Mail'].str.contains(r'[^@]+@[^@]+\.[^@]+') & (df['Mail'] != np.nan)
df = df[mask]
df.shape

(36653, 9)

In [12]:
df['Mail'].str.contains(r'[^@]+@[^@]+\.[^@]+').value_counts()

True    36653
Name: Mail, dtype: int64

Il ne reste bien que des école élémentaires au nombre de 36653 (Publiques + privées), avec des emails valides.

#   Trie par départements

In [13]:
# Trie par ordre croissant
df = df.sort_values(by='Code_departement')

# Récupération des données de df en liste

In [28]:
df['Adresse'] = df['Adresse_1'] + ' ' + df['Adresse_3']

In [106]:
df.head(50)

,Name,Group Membership,Phone 1 - Value,E-mail 1 - Value,Address 1 - Formatted
40454,ECOLE ELEMENTAIRE PUBLIQUE,01,0472250117,ce.0010501P@ac-lyon.fr,Grande rue 01360 BRESSOLLES
56085,Ecole primaire,01,0474007231,ce.0010436U@ac-lyon.fr,230 route de la Dombes 01480 SAVIGNEUX
56087,Ecole primaire,01,0474356013,ce.0010463Y@ac-lyon.fr,Rue du Lavoir 01320 VILLETTE SUR AIN
56088,Ecole primaire,01,0474614845,ce.0010508X@ac-lyon.fr,Place de la Mairie 01800 BOURG ST CHRISTOPHE
56089,Ecole primaire,01,0474397428,ce.0010530W@ac-lyon.fr,23 rue des maisons vieilles SAINT BENOIT 01300...
56090,Ecole primaire,01,0474361265,ce.0010538E@ac-lyon.fr,Rue du Bugey 01470 SERRIERES DE BRIORD
56091,Ecole primaire,01,0479872450,ce.0010613L@ac-lyon.fr,BREGNIER VILLAGE 01300 BREGNIER CORDON
56092,Ecole primaire,01,0479819726,ce.0010614M@ac-lyon.fr,454 rue Centre 01300 BRENS
56093,Ecole primaire,01,0474399549,ce.0010647Y@ac-lyon.fr,25 rue Janichon 01450 CERDON
56094,Ecole primaire,01,0474240025,ce.0010670Y@ac-lyon.fr,AU PONT DU VILLAGE 01400 L ABERGEMENT CLEMENCIAT
56095,Ecole primaire,01,0474304348,ce.0010725H@ac-lyon.fr,40 route de Bourg 01310 ST MARTIN LE CHATEL
56097,Ecole élémentaire,01,0385306028,ce.0010732R@ac-lyon.fr,MORTELLE 01190 BOZ
56098,Ecole primaire françoise convert,01,0474223873,ce.0010741A@ac-lyon.fr,309 chemin de l'Ecole 01250 ST JUST
49448,Ecole primaire,01,0474049221,ce.0010346W@ac-lyon.fr,LE BOURG 01140 MOGNENEINS
56099,Ecole primaire,01,0987270166,ce.0010758U@ac-lyon.fr,Chemin de la Grand Fin 01250 SIMANDRE SUR SURAN
56102,Ecole primaire privée Saint Joseph,01,0385300356,ce.0010837e@ac-lyon.fr,LE BOURG 01570 MANZIAT
56103,Ecole élémentaire privée Saint Jean Bosco,01,0474611945,ce.0010839g@ac-lyon.fr,Rue du Puits Volant 01800 MEXIMIEUX
56106,Ecole élémentaire Les Sources,01,0474772583,ce.0010922X@ac-lyon.fr,Rue des Ecoles 01100 BELLIGNAT
56108,Ecole primaire,01,0474529160,ce.0010928D@ac-lyon.fr,LE BOURG 01560 CURCIAT DONGALON
56109,Ecole élémentaire,01,0474304040,ce.0010946Y@ac-lyon.fr,251 place de la Mairie 01310 POLLIAT
56112,Ecole élémentaire,01,0474305920,ce.0011023G@ac-lyon.fr,137 rue du Revermont 01370 ST ETIENNE DU BOIS
56113,Ecole primaire René Rendu,01,0450485578,ce.0011036W@ac-lyon.fr,32 rue Joseph Marion BELLEGARDE SUR VALSERINE ...
56115,Ecole élémentaire Les Lilas,01,0474214431,ce.0011086A@ac-lyon.fr,3 rue des Lilas 01000 BOURG EN BRESSE
9775,Ecole primaire des Balmettes,01,0450599777,ce.0010961P@ac-lyon.fr,3 rue des Ecoles GENISSIAT 01200 INJOUX GENISSIAT
9777,Ecole primaire,01,0474420682,ce.0010984P@ac-lyon.fr,Place de l'Eglise 01240 ST PAUL DE VARAX
19044,Ecole élémentaire Jean Ferrat,01,0479810946,ce.0010607E@ac-lyon.fr,Place François Mitterrand 01300 BELLEY
56116,Ecole élémentaire Centre,01,0450200265,ce.0011107Y@ac-lyon.fr,133 rue du Mont Blanc 01220 DIVONNE LES BAINS
56100,Ecole primaire Alphonse Baudin,01,0474212413,ce.0010774L@ac-lyon.fr,2 rue Brillat Savarin 01000 BOURG EN BRESSE
9774,Ecole primaire,01,0474303312,ce.0010960N@ac-lyon.fr,LE VILLAGE 01240 DOMPIERRE SUR VEYLE
9772,Ecole primaire privée Sainte Madeleine,01,0385310180,ce.0010848s@ac-lyon.fr,LE MOTTIER 01750 REPLONGES
9771,Ecole primaire privée Saint Joseph,01,0474693253,ce.0010843l@ac-lyon.fr,13 rue de Châtillon 01090 MONTMERLE SUR SAONE
56070,Ecole primaire privée Sainte Marie,01,0450410529,ce.0010297t@ac-lyon.fr,Route de Saint Maurice 01170 CHEVRY
56072,Ecole primaire,01,0474501315,ce.0010312J@ac-lyon.fr,67 grande rue 01540 PERREX
56073,Ecole primaire,01,0385306146,ce.0010322V@ac-lyon.fr,LE BOURG 01190 REYSSOUZE
56074,Ecole primaire,01,0385362278,ce.0010334H@ac-lyon.fr,LE BOURG 01290 CROTTET
56075,Ecole primaire,01,0474660609,ce.0010344U@ac-lyon.fr,Place de l'Eglise 01090 GUEREINS
56076,Ecole élémentaire,01,0474697139,ce.0010350A@ac-lyon.fr,LE PELOUX 01140 PEYZIEUX SUR SAONE
56077,Ecole élémentaire,01,0385363309,ce.0010362N@ac-lyon.fr,LE TRESOR 01380 ST ANDRE DE BAGE
56078,Ecole primaire,01,0385304282,ce.0010369W@ac-lyon.fr,DOMMARTIN 01380 BAGE DOMMARTIN
56079,Ecole primaire,01,0474005230,ce.0010375C@ac-lyon.fr,LE FERIN 01600 ST DIDIER DE FORMANS
56080,Ecole primaire Robert Doisneau,01,0478910265,ce.0010384M@ac-lyon.fr,59 rue du Marquis de Sallmard 01390 TRAMOYES
56081,Ecole primaire,01,0450565198,ce.0010391V@ac-lyon.fr,Rue de la Valserine 01200 CONFORT
56082,Ecole élémentaire,01,0474763651,ce.0010410R@ac-lyon.fr,LE BOURG 01430 IZENAVE
56083,Ecole primaire,01,0474763503,ce.0010415W@ac-lyon.fr,LE BALMAY 01430 VIEU D IZENAVE
56084,Ecole élémentaire,01,0474551512,ce.0010434S@ac-lyon.fr,LE VILLAGE 01990 RELEVANT
9766,Ecole primaire privée Jeanne d'Arc,01,0450284410,ce.0010830x@ac-lyon.fr,273 rue de Genève 01170 GEX
9767,Ecole primaire privée,01,0385315729,ce.0010831y@ac-lyon.fr,355 grande rue 01290 GRIEGES
36720,ECOLE MATERNELLE PRIVEE LES TOURNESOLS,01,0614123575,ce.0011392h@ac-lyon.fr,55 route de Sauverny 01220 GRILLY
5682,Ecole primaire privée Saint Joseph,01,0474423620,ce.0010838f@ac-lyon.fr,182 avenue de Bourgogne 01851 MARBOZ
49454,Ecole primaire,01,0474354460,ce.0010453M@ac-lyon.fr,Rue de la Libération 01500 ST MAURICE DE REMENS

On enleve les colonnes inutiles

In [31]:
df = df.drop(columns=['Statut_public_prive', 'Adresse_1', 'Adresse_3', 'Ecole_elementaire', 'Nombre_d_eleves'])

In [36]:
df.shape

(36653, 5)

In [37]:
df.head(1)

,Nom_etablissement,Code_departement,Telephone,Mail,Adresse
40454,ECOLE ELEMENTAIRE PUBLIQUE,01,0472250117,ce.0010501P@ac-lyon.fr,Grande rue 01360 BRESSOLLES

In [15]:
data = df.values.tolist()

On créer une database avec les champs du formulaire utilisateur google contact depuis nos données sous forme de liste data (plus performant de creer une dataFrame depuis une liste que de creer une dataframe vide puis de l'implementer avec les données d'une autre dataframe)

In [38]:
df.head(1)

,Nom_etablissement,Code_departement,Telephone,Mail,Adresse
40454,ECOLE ELEMENTAIRE PUBLIQUE,01,0472250117,ce.0010501P@ac-lyon.fr,Grande rue 01360 BRESSOLLES

| df      | df_contact |
| ----------- | ----------- |
| Nom_etablissement      | Name       |
| Adresse  | Address 1 - Formatted        |
| Code_departement   | Group Membership        |
| Telephone   | Phone 1 - Value        |
| Mail   | E-mail 1 - Value        |

In [ ]:
df_contacts = pd.DataFrame(data, columns=[''])

# ========= Test d'export en .csv ==========

In [21]:
df_contact

,Name,Given Name,Additional Name,Family Name,Yomi Name,Given Name Yomi,Additional Name Yomi,Family Name Yomi,Name Prefix,Name Suffix,Initials,Nickname,Short Name,Maiden Name,Birthday,Gender,Location,Billing Information,Directory Server,Mileage,Occupation,Hobby,Sensitivity,Priority,Subject,Notes,Language,Photo,Group Membership,E-mail 1 - Type,E-mail 1 - Value,Phone 1 - Type,Phone 1 - Value,Address 1 - Type,Address 1 - Formatted,Address 1 - Street,Address 1 - City,Address 1 - PO Box,Address 1 - Region,Address 1 - Postal Code,Address 1 - Country,Address 1 - Extended Address,Organization 1 - Type,Organization 1 - Name,Organization 1 - Yomi Name,Organization 1 - Title,Organization 1 - Department,Organization 1 - Symbol,Organization 1 - Location,Organization 1 - Job Description
0,préfixe prénonom deuxieme prénom nom suffixe,prénonom,deuxieme prénom,nom,NaN,prénom phonétique,2 prénom phonétique,nom phone,préfixe,suffixe,NaN,pseudo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,note de texte,NaN,NaN,* myContacts,* Home,test@gmail.com,Home,8374747,NaN,36 Avenue du Maréchal de Lattre de Tassigny\n9...,36 Avenue du Maréchal de Lattre de Tassigny,Cachan,NaN,NaN,94230,FR,NaN,NaN,entreprise,NaN,fonction,NaN,NaN,NaN,NaN

In [22]:
df_contact = df_contact.append({
        'Name':'test_titre',
        'Address 1 - Formatted': 'test_addr',
        'Group Membership': 'test_group',
        'Phone 1 - Value': '92.43.43.43.43.43-34',
        'E-mail 1 - Value':'testemail.com',
        
    }, ignore_index=True)

In [23]:
df_contact.to_csv('data/test.csv')

# ======== Fin du test =========

# Implementation de la df_contact avec les informations traitées du .csv de l'éducation nationale

In [100]:
test = {
    'toto': [43, 34, 32],
    'tata': [44, 3, 4],
    'coco':[45, 2, 3], 
}
test2 = ['toto', 'daz', 'ds', 'coco', 'qdssqd', 'tata']
df_1 = pd.DataFrame(test)
df_2 = pd.DataFrame(columns=test2)

In [101]:
col_to_add = ['ds', 'qdssqd', 'daz']
df_1[col_to_add] = [np.nan for i in range(len(col_to_add))]
df_1

   toto  tata  coco  ds  qdssqd  daz
0    43    44    45 NaN     NaN  NaN
1    34     3     2 NaN     NaN  NaN
2    32     4     3 NaN     NaN  NaN

In [102]:
df_2

Empty DataFrame
Columns: [toto, daz, ds, coco, qdssqd, tata]
Index: []

In [103]:
df_2.append(df_1)

  toto  daz   ds coco qdssqd tata
0   43  NaN  NaN   45    NaN   44
1   34  NaN  NaN    2    NaN    3
2   32  NaN  NaN    3    NaN    4

A FAIRE

- changer les noms de colonnes de df pour les meme que df_contact # fait
- ajouter a df les colones manquante correspondante au champs de df_contact
- creer df_contacts depuis la liste de colonne de df_contact
- df_contacts.append(df) pour retrouver l'ordre des champs
- exporter en csv

In [90]:
df.columns = ['Name', 'Group Membership', 'Phone 1 - Value', 'E-mail 1 - Value', 'Address 1 - Formatted']

In [108]:
contact_col = list(df_contact.columns)
df_col = list(df.columns)

In [109]:
col_a_ajouter = [e for e in contact_col if e not in df_col]

In [111]:
df[col_a_ajouter] = [np.nan for i in range(len(col_a_ajouter))]

In [113]:
df_contacts = pd.DataFrame(columns=contact_col)

In [121]:
df_contacts = df_contacts.append(df)

In [122]:
df_contacts.head(1)

,Name,Given Name,Additional Name,Family Name,Yomi Name,Given Name Yomi,Additional Name Yomi,Family Name Yomi,Name Prefix,Name Suffix,Initials,Nickname,Short Name,Maiden Name,Birthday,Gender,Location,Billing Information,Directory Server,Mileage,Occupation,Hobby,Sensitivity,Priority,Subject,Notes,Language,Photo,Group Membership,E-mail 1 - Type,E-mail 1 - Value,Phone 1 - Type,Phone 1 - Value,Address 1 - Type,Address 1 - Formatted,Address 1 - Street,Address 1 - City,Address 1 - PO Box,Address 1 - Region,Address 1 - Postal Code,Address 1 - Country,Address 1 - Extended Address,Organization 1 - Type,Organization 1 - Name,Organization 1 - Yomi Name,Organization 1 - Title,Organization 1 - Department,Organization 1 - Symbol,Organization 1 - Location,Organization 1 - Job Description
40454,ECOLE ELEMENTAIRE PUBLIQUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01,NaN,ce.0010501P@ac-lyon.fr,NaN,0472250117,NaN,Grande rue 01360 BRESSOLLES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [124]:
df_contacts.shape

(36653, 50)

In [125]:
df_contacts_1 = df_contacts[:7500]
df_contacts_2 = df_contacts[7500:15000]
df_contacts_3 = df_contacts[15000:22500]
df_contacts_4 = df_contacts[22500:30000]
df_contacts_5 = df_contacts[30000:]

In [126]:
df_contacts_1.to_csv('data/df_contacts_1.csv')
df_contacts_2.to_csv('data/df_contacts_2.csv')
df_contacts_3.to_csv('data/df_contacts_3.csv')
df_contacts_4.to_csv('data/df_contacts_4.csv')
df_contacts_5.to_csv('data/df_contacts_5.csv')